.vscode/*
mono_crash.*
.vscode/
project.lock.json
artifacts/
.vscode/
.idea/
*.sln.iml
DotMarker.API/bin/*
DotMarker.API/obj/*
DotMarker.Application/bin/*
DotMarker.Application/obj/*
DotMarker.Domain/bin/*
DotMarker.Domain/obj/*
DotMarker.Infrastructure/bin/*
DotMarker.Infrastructure/obj/*
DotMarker.Tests/bin/*
DotMarker.Tests/obj/*
DotMarker.API/bin/*
DotMarker.API/obj/*
